*{
    margin: 0;
    padding: 0;
    list-style-type: none;
    text-decoration: none;
    box-sizing: border-box;
}
body{
    background-color: #000000;
}
header{
    margin-top: 30px;
    
}

h1{
    float: left;
    font-size: 16px;
    padding-left: 35px;
    margin-right: 950px;  
    
    
}
header li{
    float: left;
   margin: 0 0 20px 20px;
}
.zdzd1{
    font-weight: 900;
}

.hh a{
        color:#ffffff;
    }
   ul li a{
        color: #ffffff;
    }
.xazi{
    width: 100%;
    height: 1px;
    background-color: #a1a1a1;
    clear: both;   
    }
    .hh2{
        font-size: 128px;
        color: #ffffff;
        letter-spacing: 100px;
        margin-left: 150px;
    }
    main p{
        margin-bottom: 10px;
    }
    
    .mtavari1{
        float: left;
        width: 250px;
        height: 98px;
        margin: 50px 0 0 135px;
        color: #ffffff;
        
        
    }
    
    .mtavari2{
        width: 115px;
        height: 88px;
        margin: 50px 0 0 200px;
        color: #ffffff;
        float: left;

        
    }
    .pmtavari3{
        float: left;
        color: #ffffff;
        width: 450px;
        height: 238px;
        margin: 50px 0 0 200px;

    }
    .xazi3{
    width: 100%;
    height: 1px;
    background-color: #a1a1a1;
    clear: both;
    margin: 20px 0 30px 0;
    }
    .statiaconteiner{
       padding: 0px 45px;
       
    }
    article .linki a{
        color: #ffffff;
        
        
    }
    .boxi1{
        width:33.33%;
        float: left;
        height: 700px;
        
        
    }
    .xazi5{
    width: 100%;
    height: 1px;
    background-color:  #a1a1a1;
    clear: both;
    }
    .cerili18{
        font-size: 150px;
        color: #ffffff;
        float: left;
    }
    .certili20{
        width: 5px;
        padding-top: 60px;
        font-size: 35px;
        color: #ffffff;
        float: left;


    }
    .modebilo1{
        font-size: 25px;
    }

      /* -----  meore gverdis stilebi ----- */

    
        

      ul li  { 
        color: #ffffff;
        
        
     }
     .navigacia11{
        margin: 50px 130px 0 0 ;
        float: right;
     }
     .nn1{
        font-weight: 900;
     }
     .nn2{
        margin-top: 20px;
        
     }
     .nn3{
        margin-top: 20px;
     }


      .conteiner10{
        width: 60%;
        height: 700px;
        margin: 35px 0px 0px 35px;
        display: flex;
        flex-wrap: wrap;
       justify-content: space-around;
       
        
    }
    .conteiner50{
        
        width: 97%;
        height: 700px;
        display: flex;
        flex-wrap: wrap;
       justify-content: space-between;
      

    }
    p{
        color: #ffffff;
        margin-left: 65px;
        
    }
        




        /* ----- mesame gverdis stilebi ----- */

    .mtavari1000{
        display: flex;
        
        
    }
        .poto17{
        margin: 30px 0 30px 35px;
        
       
    }
    .konverti{
        font-weight: 900;
        margin-left: 65px;
        
    }
    
    .gagarin{
        margin-top: 70px;
        margin-left: 10px;

       
        
    }
   
    
    .mrtk50{
      margin-top: 165px;
      margin-left: 10px;
      
      
        
    }
    .mr100{
       width: 20px;
       height: 20px;
       border-radius: 50% 50%;
       background-color: #F6B058;
       float: left;
       
       
    }
    .mr101{
        width: 20px;
        height: 20px;
        border-radius: 50% 50%;
        background-color: #3E93F6;
        float: left;
        margin-left: 10px;
    }
    .mr102{
        width: 20px;
        height: 20px;
        border-radius: 50% 50%;
        background-color: #FF7070;
        float: left;
        margin-left: 10px;
    }
    .mr103{
        width: 20px;
        height: 20px;
        border-radius: 50% 50%;
        background-color: #E8E8E8;
        float: left;
        margin-left: 10px;
        
        
    }
    
